<!DOCTYPE html>
<html>
  <head>
    <title>Pokemonleague</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
  </head>

  <body>
    <%= yield %>
    <%= yield :modal %>
    <%= yield :js %>
  </body>
</html>
